<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/layout/head :: head"></th:block>
</head>

<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-4">
                <h1>List of customers</h1>
            </div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-outline-light create" id="create">
                    <i class=" fa-solid fa-plus"></i>
                    Add New Customer
                </button>
                <button type="button" class="btn btn-outline-light " id="btnHistoryTransfer">
                    <i class=" fa fa-history" aria-hidden="true"></i>
                    <span>Transfer Information</span>
                </button>
                <button type="button" class="btn btn-outline-light " id="btnHistoryWithdraw">
                    <i class=" fa fa-history" aria-hidden="true"></i>
                    <span>WithDraw Information</span>
                </button>
                <button type="button" class="btn btn-outline-light " id="btnHistoryDeposit">
                    <i class=" fa fa-history" aria-hidden="true"></i>
                    <span>Deposit Information</span>
                </button>
            </div>
        </div>
    </div>

    <div>
        <table id="tbCustomer" class="table table-hover table-borderless text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="5" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Modal Create Customer -->
    <th:block th:replace="/modal-create :: modal-create"></th:block>

    <!-- Modal Update Customer -->
    <th:block th:replace="/modal-update :: modal-update"></th:block>

    <!-- Modal Deposit -->
    <th:block th:replace="/modal-deposit :: modal-deposit"></th:block>

    <!-- Modal Withdraw -->
    <th:block th:replace="/modal-withdraw :: modal-withdraw"></th:block>

    <!-- Modal Transfer -->
    <th:block th:replace="/modal-transfer :: modal-transfer"></th:block>



    <!-- Modal History Deposit -->
    <th:block th:replace="/modal-history-deposit :: modal-history-deposit"></th:block>

    <!-- Modal History Withdraw -->
    <th:block th:replace="/modal-history-withdraw :: modal-history-withdraw"></th:block>

    <!-- Modal History Transfer -->
    <th:block th:replace="/modal-history-transfer :: modal-history-transfer"></th:block>


</div>

<th:block th:replace="/layout/script :: script"></th:block>

</body>

</html>