<th:block th:fragment="modal-create">


    <div class="modal fade" id="mdCreate" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal create customer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area" style="color: red;"></div>
                    <form method="post" id="form-create">
                        <div class="row mb-3">
                            <div class="col-lg-6 form-group">
                                <label for="fullNameCr" class="form-label">Full Name</label>
                                <input type="text" id="fullNameCr" class="form-control">
                                <div class="form-message"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="emailCr" class="form-label">Email</label>
                                <input type="email" id="emailCr" class="form-control">
                                <div class="form-message"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 form-group">
                                <label for="phoneCr" class="form-label">Phone</label>
                                <input type="tel" id="phoneCr" class="form-control">
                                <div class="form-message"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="addressCr" class="form-label">Address</label>
                                <input type="text" id="addressCr" class="form-control">
                                <div class="form-message"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btnCloseCr" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" id="btnCreate" class="btn btn-outline-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</th:block>